// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include "rk3568-ncx.dtsi"

/ {
    model = "NCX RK3568-(Linux)";
    compatible = "rockchip,rk3568-ncx", "rockchip,rk3568";

};

&route_hdmi {
    status = "okay";
    connect = <&vp0_out_hdmi>;
};

&i2c5 {
	status = "okay";
	
	eeprom@5e {
		compatible = "atmel,24mac402";
		reg = <0x5e>;
		status = "okay";
	};
};

&uart9 {
	status = "okay";
};

&uart8 {
	status = "disabled";
};